/* Header */
.home-header  {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 32px;
    background-image: url(/src/assets/plantheader1.jpg);
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.home-header .header-description .header-title {
    font-size: var(--font-size-xxxl);
    width: 70%;
    font-family: 'Playfair', sans-serif;
    font-weight: var(--font-weight-bold);
}

.home-header .header-description {
    display: inline-flex;
    flex-direction: column;
    /* border: 1px solid black; */
    gap: 20px;
}

.home-header .header-description .header-paragraph {
    font-size: var(--font-size-m);
    width: 70%;
}

.home-header .header-description .cta-button {
    width: 20%;
    padding: 20px;
    border: none;
    border-radius: var(--border-radius-s);
    background: var(--primary);
    color: var(--accent);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
    transition: 0.2s ease;
}

.home-header .header-description .cta-button:hover {
    background: var(--secondary);
    transition: 0.2s ease;
}

.home-header .header-description .cta-button i{
    transform: rotate(45deg);
    margin-left: 10px;
}